<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hostel Management System</title>
    <style>
        img 
        {
            position:fixed;
            z-index: -1;
            width:100%;
        }
        *
        {
            margin:0;
            padding:0;
        }
    </style>
</head>
    <body>
    <img src="/images/ab.jpg" alt="check">
<div> 
    <h1 style="color: #2408da; font-size: 36px;">HOSTEL MANAGEMENT SYSTEM</h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button>
    <a href ="register" style="font-size: 24px;">Register</a></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button><a href="login" style="font-size: 24px;">Login</a></button>
   
</div>
    </body>
</html>